
  <div id='game'
    data-controller="game"
    data-game-player-image-url-value="<%= image_path("slimey.png") %>"
    data-game-bg-image-url-value="<%= image_path("dungeon_pre.png")%>"
    data-game-basic-tiles-value="<%= image_path("basictiles.png")%>"
    data-game-tilemap-url-value="<%=asset_path('level-1-08-06.json')%>"
    data-game-keyboard-type-value='fr'
    data-game-skeleton-image-url-value="<%= image_path("pixel-skeleton.png")%>"
    data-game-skeleton-idle-image-url-value="<%= image_path("skeleton_idle.png")%>"
    data-game-skeleton-death-image-url-value="<%= image_path("skeleton_dead.png")%>"
    data-game-knight-image-url-value="<%= image_path("Knight/Idle-Weapon.png")%>"
    data-game-knight-run-image-url-value="<%= image_path("Knight/Run-Weapon.png")%>"
    data-game-knight-attack-image-url-value="<%= image_path("Knight/Attack-Weapon.png")%>"
    data-game-empty-url-value="<%= image_path("empty.png")%>"
    data-game-coin-image-url-value="<%= image_path("coin_animated.png")%>"
    data-game-gameover-value="<%= gameover_path %>"
  >
  </div>
</div>
