
<div data-controller="game-map"
  data-game-map-tileset-image-url-value="<%= image_path("basictiles.png") %>"
  data-game-map-characters-image-url-value="<%= image_path("characters.png") %>"
  data-game-map-player-image-url-value="<%= image_path("slimey.png") %>"
  data-game-map-bg-image-url-value="<%= image_path("dungeon_pre.png")%>"
  data-game-map-skeleton-image-url-value="<%= image_path("pixel-skeleton.png")%>"
  data-game-map-knight-image-url-value="<%= image_path("Knight/Idle.png")%>"
  data-game-map-knight-run-image-url-value="<%= image_path("Knight/Run.png")%>"
  data-game-map-knight-attack-image-url-value="<%= image_path("Knight/Attack_1.png")%>"

  data-game-map-skeleton-idle-image-url-value="<%= image_path("pixel_crawler/Skeleton-Idle-Sheet.png")%>"
  data-game-map-hands-image-url-value="<%= image_path("pixel_crawler/Hands.png")%>"
>
</div>
