
  <div id='game'
    data-controller="game"
    data-game-player-image-url-value="<%= image_path("slimey.png") %>"
    data-game-bg-image-url-value="<%= image_path("dungeon_pre.png")%>"
    data-game-basic-tiles-value="<%= image_path("basictiles-extruded.png")%>"
    data-game-tilemap-url-value="<%=asset_path('level-1-13-06.json')%>"
    data-game-keyboard-type-value='fr'
    data-game-skeleton-image-url-value="<%= image_path("pixel-skeleton.png")%>"
    data-game-skeleton-idle-image-url-value="<%= image_path("skeleton_idle.png")%>"
    data-game-skeleton-death-image-url-value="<%= image_path("skeleton_dead.png")%>"
    data-game-knight-image-url-value="<%= image_path("Knight/Idle-Weapon.png")%>"
    data-game-knight-run-image-url-value="<%= image_path("Knight/Run-Weapon.png")%>"
    data-game-knight-attack-image-url-value="<%= image_path("Knight/Attack-Weapon.png")%>"
    data-game-empty-url-value="<%= image_path("empty.png")%>"
    data-game-coin-image-url-value="<%= image_path("coin_animated.png")%>"
    data-game-potion-image-url-value="<%= image_path("potion.png")%>"
    data-game-gameover-value="<%= gameover_path %>"
    data-game-win-url-value="<%= win_path %>"
    data-game-bgpause-url-value="<%= image_path("background_image_2.jpg")%>"
    data-game-new-player-url-value="<%= image_path("Knight/player.png")%>"
    data-game-new-skeleton-url-value="<%= image_path("skeleton.png")%>"
    data-game-snake-head-image-url-value="<%= image_path("snake_head.png")%>"
    data-game-snake-body-image-url-value="<%= image_path("snake_body.png")%>"
    data-game-snake-image-url-value="<%= image_path("snake.png")%>"
    data-game-fireball-url-value="<%= image_path("fireball_0.png")%>"
    data-game-explosion-url-value="<%= image_path("explosion.png")%>"
    data-game-new-player-url-value="<%= image_path("Knight/player.png")%>"
    data-game-fireball-url-value="<%= image_path("fireball_0.png")%>"
    data-game-explosion-url-value="<%= image_path("explosion.png")%>"
    data-game-select-mc-url-value="<%= image_path("select_character.png")%>"
    data-game-mc-window-url-value="<%= image_path("mc_character_window.png")%>"
    data-game-blueslime-url-value="<%= image_path("slime.png")%>"
    data-game-minotaurus-url-value="<%= image_path("minotaurus_spritesheet.png")%>"


    <% if(@last_save == []) %>
      data-game-last-save-mc-value="<%= [] %>"
    <% else %>
      data-game-last-save-mc-value="<%= [@last_save.x.to_i, @last_save.y.to_i, @last_save.health.to_i, @last_save.score.to_i, @last_save.kills.to_i, @last_save.coins.to_i] %>"
    <% end %>

    data-game-coin-sound-value="<%= audio_path("coin.mp3")%>"
    data-game-heal-sound-value="<%= audio_path("heal.mp3")%>"
    data-game-wilhelm-sound-value="<%= audio_path("wilhelm.mp3")%>"
    data-game-death-sound-value="<%= audio_path("skeleton-death-crashed.mp3")%>"
    data-game-slash-sound-value="<%= audio_path("slash.mp3")%>"
    data-game-spell-sound-value="<%= audio_path("spell-sound.mp3")%>"
    data-game-explosion-sound-value="<%= audio_path("explosion.mp3")%>"
    data-game-ok-sound-value="<%= audio_path("okay-voice-cartoon-46707.mp3")%>"
    data-game-minotaurus-sound-value="<%= audio_path("minotaurus.mp3")%>"
    data-game-background-sound-value="<%= audio_path("background.mp3")%>"
  >
  </div>
</div>
