
<div class="home-page" data-controller='vertical-slides' data-action='scroll@window->vertical-slides#scrollToBottom'>
  <div class = "banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= asset_url 'background_image_2.jpg' %>'); min-height: 100vh; background-repeat: no-repeat;">
    <div class="home-container">
      <h1 data-controller="typed">
      </h1>
      <div class = "buttons-container">
        <%= link_to game_path do  %>
          <div class = "button-gold-large" style="background-image: url('<%= asset_url 'gold-button-new.png' %>')">
            <span>Play!</span>
          </div>
        <% end %>
        <%= link_to leaderboard_path do  %>
          <div class = "button-gold-large" style="background-image: url('<%= asset_url 'gold-button-new.png' %>')">
            <span>Leaderboard</span>
          </div>
        <% end %>
        </div>
        <div class='d-flex justify-content-center w-100 btn-round-container mt-5'>
        <div>
          <h2 class=''>See the syllabus</h2>
          <button class='btn-round' title='read next' data-action='click->vertical-slides#scrollToSyllabus'><i class="fa-solid fa-chevron-down"></i></button>
        </div>
        </div>
      </div>
    </div>
  <div class="slide" id='syllabus' data-vertical-slides-target='syllabus'>
    <h1 class='text-center my-4'>Syllabus</h1>
    <div class="d-flex justify-content-space-evenly syllabus">
      <div class='w-50 p-5 d-flex align-items-center syllabus'>
      <h2>
      Monster Slicer is a fun and short game designed for casual gamers.<br><br>
      Your objective is to slice as many monsters as you can and pick up coins.<br><br>
      Designed with <i class="fa-solid fa-heart" style='color:red'></i> at Le Wagon</h2>
      </div>
      <%= image_tag 'slime-background-black.gif', class:'object-fit-cover p-4', id:'slimey'%>
    </div>
  </div>
  </div>
</div>
