<div class = "container-lb">
  <h1>LEADERBOARD</h1>
  <table>
    <thead>
      <tr>
        <th>Username</th>
        <th>Coins Collected</th>
        <th>Total Kills</th>
        <th>High Score</th>
      </tr>
    </thead>
    <tbody>
      <% User.order(highscore: :desc).each do |user| %>
        <% if user.highscore != nil %>
         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>
                   <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>         <tr>
            <td>
              <h4> <%= user.username %></h4>
            </td>
            <td>
              <h4> <%=user.total_coins %></h4>
            </td>
            <td>
              <h4> <%=user.total_kills %></h4>
            </td>
            <td>
              <h4> <%=user.highscore %></h4>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
