<div class='w-100 bg-cover bg-no-repeat p-3' style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('<%= asset_url 'background-wall.jpg' %>'); min-height: 100vh; background-repeat: no-repeat;">
  <div class = "container-lb">
    <div class='bg-100-100 w-100' id='leaderboard-title' style="background-image: url('<%= asset_url "parchement top.png" %>')">
      <h1>LEADERBOARD</h1>
    </div>
    <div class='w-100' id="leaderboard-body" style="background-image: url('<%= asset_url "parchement body.png" %>')">
    <table>
      <thead>
        <tr>
          <th>Ranking</th>
          <th>Username</th>
          <th>Coins Collected</th>
          <th>Total Kills</th>
          <th>High Score</th>
        </tr>
      </thead>
      <tbody>
        <% counter = 1 %>
        <% User.order(highscore: :desc).each do |user| %>

          <% if user.highscore != nil %>
              <tr class='<%='red' if user == current_user %>'>
                <td>
                  <h4><%= counter %></h4>
                  <% counter += 1 %>
                </td>
                <td>
                  <h4><%= user.username %></h4>
                </td>
                <td>
                  <h4> <%=user.total_coins %></h4>
                </td>
                <td>
                  <h4> <%=user.total_kills %></h4>
                </td>
                <td>
                  <h4> <%=user.highscore %></h4>
                </td>
              </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
    </div>
    <div class='w-100 bg-100-100' id="leaderboard-bottom" style="background-image: url('<%= asset_url "parchement bottom.png" %>')">
    </div>
  </div>
</div>
