<div class = "background">
  <div id="wrapper-win">
    <div id='win-div'>
      <div class = "win-msg flex-fill">
        <p data-controller="typed-win"></p>
        <h1 data-controller='delayed-message' data-delayed-message-score-value='<%=@your_score%>'></h1>
      </div>
      <div class='d-flex align-items-center'>
        <%= image_tag 'slime-background-black', {id: 'win-img'} %>
      </div>

    </div>
    <div class = "d-flex">
      <%= link_to game_path do  %>
        <div class = "button-gold-large" style="background-image: url('<%= asset_url 'gold-button-new.png' %>')">
          <p>New Game</p>
        </div>
      <% end %>
      <%= link_to leaderboard_path do  %>
        <div class = "button-gold-large" style="background-image: url('<%= asset_url 'gold-button-new.png' %>')">
          <p>LeaderBoard</p>
        </div>
      <% end %>
    </div>


  </div>
</div>
