<div class = "background">
  <div id="wrapper-win">
    <div id='win-div'>
      <div class = "win-msg flex-fill">
        <p data-controller="typed-win"></p>
      </div>
      <div class='d-flex align-items-center'>
        <%= image_tag 'patrick-win', {id: 'win-img'} %>
      </div>
    </div>
    <div class = "d-flex">
      <%= link_to game_path do  %>
        <div class = "button-gold-large" style="background-image: url('<%= asset_url 'gold-button-new.png' %>')">
          <p>Try again !</p>
        </div>
      <% end %>
      <%= link_to root_path do  %>
        <div class = "button-gold-large" style="background-image: url('<%= asset_url 'gold-button-new.png' %>')">
          <p>Quit</p>
        </div>
      <% end %>
    </div>


  </div>
</div>
